In [2]:
import pandas as pd
import numpy as np
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
from sklearn.impute import SimpleImputer, KNNImputer

In [3]:
df = pd.read_csv(r"E:\Zip files\playground-series-s4e12\train.csv", dtype={"Policy Start Date":str})
df.head()

,id,Age,Gender,Annual Income,Marital Status,Number of Dependents,Education Level,Occupation,Health Score,Location,...,Previous Claims,Vehicle Age,Credit Score,Insurance Duration,Policy Start Date,Customer Feedback,Smoking Status,Exercise Frequency,Property Type,Premium Amount
0,0,19.0,Female,10049.0,Married,1.0,Bachelor's,Self-Employed,22.598761,Urban,...,2.0,17.0,372.0,5.0,2023-12-23 15:21:39.134960,Poor,No,Weekly,House,2869.0
1,1,39.0,Female,31678.0,Divorced,3.0,Master's,NaN,15.569731,Rural,...,1.0,12.0,694.0,2.0,2023-06-12 15:21:39.111551,Average,Yes,Monthly,House,1483.0
2,2,23.0,Male,25602.0,Divorced,3.0,High School,Self-Employed,47.177549,Suburban,...,1.0,14.0,NaN,3.0,2023-09-30 15:21:39.221386,Good,Yes,Weekly,House,567.0
3,3,21.0,Male,141855.0,Married,2.0,Bachelor's,NaN,10.938144,Rural,...,1.0,0.0,367.0,1.0,2024-06-12 15:21:39.226954,Poor,Yes,Daily,Apartment,765.0
4,4,21.0,Male,39651.0,Single,1.0,Bachelor's,Self-Employed,20.376094,Rural,...,0.0,8.0,598.0,4.0,2021-12-01 15:21:39.252145,Poor,Yes,Weekly,House,2022.0

In [4]:
df = df.drop(['id'], axis=1)

In [8]:
df['Policy Start Date'] = df['Policy Start Date'].apply(lambda x: pd.to_datetime(x).timestamp())

In [11]:
col_to_transform = ["Gender", "Marital Status", "Education Level", "Occupation", "Location", "Policy Type", "Customer Feedback", "Smoking Status", "Exercise Frequency", "Property Type"]
df_imp_mean = ["Age", "Annual Income", "Number of Dependents", "Health Score", "Vehicle Age", "Credit Score", "Insurance Duration"]
df_imp_repeated = ["Marital Status", "Occupation", "Previous Claims", "Customer Feedback"]
imp_mean = [0, 2, 4, 7, 11, 12, 13]
imp_repated_values = [3, 6, 10, 15]

In [18]:
for i in range(len(df_imp_mean)):
    imp = SimpleImputer(
        missing_values=np.nan, 
        strategy="mean"
    )
    df[df_imp_mean[i]] = imp.fit_transform(df.iloc[:, imp_mean[i]].values.reshape(-1, 1))[:, 0]

In [22]:
for i in range(len(df_imp_repeated)):
    imp = SimpleImputer(
        missing_values=np.nan, 
        strategy='most_frequent'
    )
    df[df_imp_repeated[i]] = imp.fit_transform(df.iloc[:, imp_repated_values[i]].values.reshape(-1, 1))[:, 0]

In [23]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1200000 entries, 0 to 1199999
Data columns (total 20 columns):
 #   Column                Non-Null Count    Dtype
---  ------                --------------    -----
 0   Age                   1200000 non-null  float64
 1   Gender                1200000 non-null  object
 2   Annual Income         1200000 non-null  float64
 3   Marital Status        1200000 non-null  object
 4   Number of Dependents  1200000 non-null  float64
 5   Education Level       1200000 non-null  object
 6   Occupation            1200000 non-null  object
 7   Health Score          1200000 non-null  float64
 8   Location              1200000 non-null  object
 9   Policy Type           1200000 non-null  object
 10  Previous Claims       1200000 non-null  float64
 11  Vehicle Age           1200000 non-null  float64
 12  Credit Score          1200000 non-null  float64
 13  Insurance Duration    1200000 non-null  float64
 14  Policy Start Date     1200000 non-null  float64
 15  Customer Feedback     1200000 non-null  object
 16  Smoking Status        1200000 non-null  object
 17  Exercise Frequency    1200000 non-null  object
 18  Property Type         1200000 non-null  object
 19  Premium Amount        1200000 non-null  float64
dtypes: float64(10), object(10)
memory usage: 183.1+ MB

In [24]:
df.to_csv("ep_12_time_filtered.csv")